extends layout

block content
  h1 Home Page
  a(href='/redirect') Redirect page
  a(href='/validate-warn') Validation Warning
  a(href='/validate-error') Validation Error
  a(href='/bad-length') Bad content length
  a(href='/non-existent') Non existent page
