extends layout

block title
  title Home Page

block meta
  meta(name='description', content='Mock web server')
  meta(name='keywords', content='mock, http, linkdown')

block content
  h1 Home Page
  nav
    a(href='/redirect') Redirect page
    a(href='/meta') Meta Page
    a(href='/into/the/deep') Deep Page
    a(href='/section?var=val') Section page
    a(href='/text') Text directory
    a(href='/validate-fail') Validation Fail
    a(href='/validate-warn') Validation Warning
    a(href='/validate-error') Validation Error
    a(href='/bad-length') Bad content length
    a(href='/non-existent') Non existent page
