doctype html
html
  head
    block head
      block title
        title Mock Http Server
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      block meta
      block css
        link(rel='stylesheet', href='/style.css', media='screen')
      block script
  body
    block header
      //-include include/header
    block content
    block footer
    block js
